Node-red/flows (1) (1).json
[
    {
        "id": "c76133a8faea190a",
        "type": "tab",
        "label": "switchLED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "97994f8b638d6ff3",
        "type": "ui_switch",
        "z": "c76133a8faea190a",
        "name": "",
        "label": "Principal",
        "tooltip": "2",
        "group": "6e9cb894fcdc2265",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "2368d74d18698fbe"
            ]
        ]
    },
    {
        "id": "87a5fb6e1ba2517a",
        "type": "debug",
        "z": "c76133a8faea190a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "2368d74d18698fbe",
        "type": "mqtt out",
        "z": "c76133a8faea190a",
        "name": "",
        "topic": "gds0643/jdpz/main",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47c033a81442a9c5",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "896fd1eee120370e",
        "type": "mqtt in",
        "z": "c76133a8faea190a",
        "name": "",
        "topic": "gds0643/jdpz/main",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "47c033a81442a9c5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "87a5fb6e1ba2517a"
            ]
        ]
    },
    {
        "id": "d92bee1c47cb37b1",
        "type": "ui_switch",
        "z": "c76133a8faea190a",
        "name": "",
        "label": "Tono",
        "tooltip": "2",
        "group": "6e9cb894fcdc2265",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "2368d74d18698fbe"
            ]
        ]
    },
    {
        "id": "6e9cb894fcdc2265",
        "type": "ui_group",
        "name": "Oficina",
        "tab": "01c1df880b23b8d9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47c033a81442a9c5",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "01c1df880b23b8d9",
        "type": "ui_tab",
        "name": "ControlLED",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]